<% provide(:title, 'Главная') %>
<div class="center hero-unit">

<div class="row">
<div id="calendar" class="span4"></div>

<div class="target">
	<div class="where form-inline">
		<%= radio_button_tag(:where, "city", options = {checked: true} ) %>
		<%= label_tag(:where_city, 'в город') %>&nbsp;&nbsp;
		<%= radio_button_tag(:where, "village" ) %>
		<%= label_tag(:where_village, 'в деревню') %>&nbsp;
	</div>

	<div class="where_time" id="div1">
		<%= radio_button_tag(:time, "four" ) %>
		<span class="rbtn"><%= label_tag(:time_four, '4:00') %></span><br>
		<%= radio_button_tag(:time, "eleven" ) %>
		<span class="rbtn"><%= label_tag(:time_eleven, '11:00') %></span><br>
		<%= radio_button_tag(:time, "fifteen" ) %>
		<span class="rbtn"><%= label_tag(:time_fifteen, '15:00') %></span><br>
	</div>

	<div class="where_time" id="div2">
		<%= radio_button_tag(:time, "seven" ) %>
		<span class="rbtn"><%= label_tag(:time_seven, '7:00') %></span><br>
		<%= radio_button_tag(:time, "thirteen" ) %>
		<span class="rbtn"><%= label_tag(:time_thirteen, '13:00') %></span><br>
		<%= radio_button_tag(:time, "seventeen" ) %>
		<span class="rbtn"><%= label_tag(:time_seventeen, '17:00') %></span><br>
	</div>
	<div id="price" class="text-error"><h5 class="text-center">Стоимость проезда:</h5>
		<h3 class="text-center">580 рублей</h3></div>
</div>

<div id="phone">Телефон диспетчера:<br><h4>+7-923-123-4567</h4></div>

</div>


<!--  <h3>Когда и куда?</h3>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>-->

<% if signed_in? && current_user.admin? %>
<div class="transport form-inline">
<%= radio_button_tag(:transport, "gazel", options = {checked: true} ) %>
<%= label_tag(:transport_gazel, '"Газель"') %>&nbsp;
<%= radio_button_tag(:transport, "mercedes" ) %>
<%= label_tag(:transport_mercedes, 'микроавтобус "Mercedes"') %>&nbsp;
<%= radio_button_tag(:transport, "hyundai" ) %>
<%= label_tag(:transport_hyundai, 'автобус "Hyundai"') %>
</div>
<% end %>

<% if !signed_in? %>
  <%= link_to "Стать пассажиром!", signup_path, class: "btn btn-large btn-primary" %>
<% end %>

</div>

<% if !signed_in? || signed_in? %>
<div id="partial-area"></div>
<% end %>

<!-- <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> -->