<%= render 'shared/error_messages' %>

<%= f.label :name, "Имя" %>
<%= f.text_field :name %>

<%= f.label :lastname, "Фамилия" %>
<%= f.text_field :lastname %>

<%= f.label :phone, "Телефон" %>
<%= f.text_field :phone %>

<%= f.label :settlement, "Откуда" %>
<%= f.select :settlement, options_for_select(["с.Баган", "с.Баклуши", "пос.Безногое", "пос.Брянский",
	"с.Волчанка", "пос.Даниловская Ферма", "с.Довольное", "пос.Дружный", "с.Ильинка", "с.Индерь", "пос.Каревский", "с.Комарье", "с.Комендантка", "с.Красная Грива", "с.Кротово", "пос.Новодоволенский", "г.Новосибирск", "с.Плеханово", "с.Покровка", "д.Сарыбалык", "с.Согорное", "пос.Солонцовый", "с.Суздалка", "с.Травное", "с.Утянка", "пос.Хромовский", "с.Шагалка", "с.Ярки"]), :include_blank => "Пожалуйста, выберите..." %>

<%= f.label :password, "Пароль" %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Подтвердите пароль" %>
<%= f.password_field :password_confirmation %>