<li>
    <%= link_to user.lastname, user %>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "удалить", user, method: :delete,
                                  data: { confirm: "Уверены?" } %>
  <% end %>
</li>

