<% provide(:title, "Edit user") %>
<h1>Обновите свой профиль</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>