<% provide(:title, 'Регистрация') %>
<h1>Регистрация</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
		  <%= render 'fields', f: f %>
	      <%= f.submit "Создать аккаунт", class: "btn btn-large btn-primary" %>
	    <% end %>
		
	</div>
</div>