<%= form_for :record do |f| %>
  Travel time: <%= f.text_field :travel_time %>
  Number of seats : <%= f.text_field :number_of_seats %>
  Settlement : <%= f.text_field :settlement %>
  Destination    : <%= f.text_field :destination %>
  <%= f.submit %>
<% end %>