@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.where {
  width:175px;
}

/* Target */
.target {
  float:left;
  margin: -3px -33px;
}

/* Where time */
.where_time {
 float:left;
 position: relative;
 margin-right: 15px;
 width: 66px; 
 height: 100px; 
 text-align:left;
 padding-left:5px;
 border-radius: 5px;
 border-color: black;
 border: 1px solid;
 background-color: #FFF;
}

/* Price */
#price {
  position: absolute;
  margin: 120px 10px;
  text-align: left;
}

.rbtn {
    margin-top: 8px;
    position:absolute;
}

#div2 {
display: none;
}

/* Calendar */
#calendar {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

/* Transport */
.transport {
  margin-left: 10px;
  text-align: left;
}

/* Phone */
#phone {
  font-size: 14px;
  font-weight: normal;
  float:left;
  margin: -2px 70px;
}

/* Target highlighted */
.highlighted {
  -webkit-box-shadow: 0 0 8px #FFd700;
  -moz-box-shadow: 0 0 8px #FFd700;
  box-shadow: 0 0 8px #FFd700;
}

#row tr:hover {
  cursor: pointer;
}

.supertable {
  table-layout: fixed;
  width: 100%;
}

.col1 {
  width: 8em;
}
.col2 {
  width: 20em;
}
.col3 {
  width: 20em;
}

