<div class="text-center"><h4>автобус "Hyundai"</h4></div>
<table class="table table-hover table-bordered table-condensed">
  <thead>
    <tr>
      <th>Место</th>
      <th>Пассажир</th>
      <th>Откуда</th>
      <th>Дата бронирования</th>
    </tr>   
  </thead>
  <tbody id="row">
    <tr>
      <td>1</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>