<div class="text-center"><h4>микроавтобус "Mercedes"</h4></div>
<table class="table table-hover table-condensed supertable">
  <col class="col1">
  <col class="col2">
  <col class="col3">
  <thead>
    <tr>
      <th>Место</th>
      <th>Пассажир</th>
      <th>Откуда</th>
      <th>Дата бронирования</th>
    </tr>   
  </thead>
  <tbody id="row">
    <tr>
      <td>1</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<script>
$( ".supertable tr" ).hover(
function() {
$( this ).find( "td:nth-child(2)" ).html( "<span>Занять место</span>" ).addClass("text-success");
}, function() {
$( this ).find( "span:last" ).remove();
}
);
</script>